.post {
    position: relative;
    width: 40%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 50px 10px 10px 50px;
    float:left;
    border-radius: 15px;


}

.post-left {
    width: 15%;
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
}
.post-content {
    width: 75%;
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;

}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
}
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    line-height: 1.5em;
    height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;

}
.trashBtn{
    float: right;

}
.project-block{
    display:flex;
    flex-direction:row;
}
.project-card
{
    background-color:grey;
    padding:2%;
    border-radius:5px;
    margin:10px;
    color:white;
    width:25%;
}
.iconBtn
{
    border:0px;
    float: right;
    align:right;

}
.center-div
{
    margin: 0 auto;
    width: 100px;
}
#yesBtn
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}
#noBtn
{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

#trashMsgHeader
{
    font-size: 20px;
}
#trashMsgContent
{
    height: 18%;
    margin: 30%
}
#postBlock
{

    /* margin: 30%; */
    margin: 10px 294px 10px 294px;

}

