.home-body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */


/*style for all posts and create post buttons and the create post modal*/
.postButtons{
    font-family: Times New Roman;
    color: white;
    border-radius: 2px; 
    position: absolute;
    top: 45%;
    left:42%;
}

#allPostsBtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}
#createPostbtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}

.create-post-form{
    
    align-self: center;
}

#postTitle{
    width: 42%;
}


#postContent{
    width: 95%;
    background: #f1f1f1;
    
}



#postSubmitButton{
    width: 20%;
    margin-left: 40%;  

}
/*style for all posts and create post buttons and the create post modal*/
