body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */
                                 

.postButtons{
    font-family: Times New Roman;
    color: white;
    border-radius: 2px; 
    position: absolute;
    top: 45%;
    left:42%;
}

#allPostsBtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}
#createPostbtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);*/ /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
/*
.modal-Header{
    align-self: center;
}
*/
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-field{
    font-size: 12px;
}

.sign-up-form{
    
    align-self: center;
}

.create-post-form{
    
    align-self: center;
}


/*.submit-buttons*/
input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: green;
    font-size: 18px;
    color: white;
}



/* Full-width input fields */
input[type=text], input[type=password] {
    width: 94%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#postContent{
    width: 95%;
    background: #f1f1f1;
    
}


#postTitle{
    width: 40%;
}

label{
    font-weight: bold;
}

.modal-header{
    text-align: center;
}
.redeirection-text{
    font-weight: bold;
    text-align: center;
}

#postSubmitButton{
    width: 20%;
    margin-left: 40%;  

}