.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    padding: 10px 50px;

}
.blogTite{
    text-align: center;
}

#blogBody{
    text-align: justify;
}


/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

/*edit/save buttons*/
.editBlog-button{
    float: right;
    padding: 1%;
    background-color:rgb(226, 19, 109);
    color:white;
    width: 6%;
}
/*edit/save buttons*/

/*like button */
.likePost-button{
    padding: 1%;
    background-color: rgb(226, 19, 109);
    color:white;
    width: 9%;
}
/*like button */

#likeCounter{
    font-family: 'Abel';
}

/*comment-section*/
.reader-Comment{
    width: 50%;
    height:80px;
}

.addComment{
    padding: 1%;
    background-color: red;
    color:white;
    width: 10%;
    margin-top: 1%;
}
.comments{
    font-weight: bold;
}
.comments-display{
    background-color:grey;
    padding:10px;
    
}

.comments-frame{
    background-color: white;
    height: 70px;
}

/*comment-section*/