/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header{
    margin-top: 20px;  
}

.topButtons{
    font-family: Times New Roman;
    font-size: 18px;
    color: white;
    border-radius: 2px; 
    background-color: blue;
    position: absolute;
    right: 100px; 
    height: 27px; 
}

.postButtons{
    font-family: Times New Roman;
    color: white;
    border-radius: 2px; 
    position: absolute;
    top: 45%;
    left:42%;
}

#signUpBtn{
    right: 10px;
}

#allPostsBtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}
#Createbtn{
    background-color: yellow;
    height: 27px;
    font-size: 18px;
}

.logo-title{
    display: inline-block;
    font-size: 23px;
    color: blue;
    font-family: satisfy,cursive;
    margin-left: 11px;
    
}

.subHeading{        
         font-size: 12px;
         font-family: satisfy,cursive;
         margin-top: 5px;
         margin-left: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-field{
    font-size: 12px;
}

.sign-up-form{
    
    align-self: center;
}

.Create-post-form{
    
    align-self: center;
}
.signUp-button{
    background-color: green;
    font-size: 18px;
    color: white;
}

.signin-button{
    background-color: green;
    font-size: 18px;
    color: white;
}

.Createbtn{
    background-color: green;
    font-size: 18px;
    color: white;
}
